{% load static %}
<footer class="footer">
  <div class="footer__bottom bottom-footer">
    <div class="bottom-footer__container">
      <img src="{% static 'images/logo.png' %}" alt="" class="bottom-footer__logo">
      <nav class="bottom-footer__menu menu-bottom-footer">
        <ul class="menu-bottom-footer__list">
          <li class="menu-bottom-footer__item menu-bottom-footer__active"><a href="" class="menu-bottom-footer__link">О нас</a></li>
          <li class="menu-bottom-footer__item menu-bottom-footer__active"><a href="" class="menu-bottom-footer__link">Галерея</a></li>
          <li class="menu-bottom-footer__item menu-bottom-footer__active"><a href="" class="menu-bottom-footer__link">Отзывы</a></li>
          <li class="menu-bottom-footer__item menu-bottom-footer__active"><a href="" class="menu-bottom-footer__link">Контакты</a></li>
        </ul>
      </nav>
      <h2 class="footer__phone">8-918-64-47-927</h2>
    </div>
  </div>
</footer>